[Desktop Entry]
Version=1.0
Type=Application
Name=Antigravity
GenericName=Google Antigravity
Comment=Google Antigravity Agentic IDE
Exec=antigravity --unity-launch %F
Icon=antigravity
Categories=TextEditor;Development;IDE;
StartupWMClass=Antigravity
StartupNotify=true
Keywords=antigravity;google;ide;ai;code;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=antigravity --new-window %F
Icon=antigravity