name: Build Antigravity AppImage
on:
  workflow_dispatch:
  schedule:
    - cron: "15 */12 * * *"
  push:
    branches:
      - "main"

jobs:
  version:
    name: Antigravity AppImage
    runs-on: ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - name: Install libfuse2
        run: sudo apt-get install -y libfuse2 imagemagick   
      - name: Read version URL
        id: get_version
        run: |
          URL=$(jq -r .version_url version.json)
          echo "url=$URL" >> $GITHUB_OUTPUT
      - name: Build
        id: build
        uses: valicm/appimage-bash@main
        with:
          version_url: ${{ steps.get_version.outputs.url }}
          version_file: 'resources/app/product.json'
          version_bash: 'jq -r  .ideVersion'
          version_icon: 'code.png'
      - name: Upload artifact
        if: ${{ env.APP_UPDATE_NEEDED == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.APP_SHORT_NAME }}.AppImage
          path: 'dist'
      - name: Release
        if: ${{ env.APP_UPDATE_NEEDED == 'true' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          title: ${{ env.APP_NAME }} AppImage ${{ env.APP_VERSION }}
          automatic_release_tag: latest
          prerelease: false
          files: |
            dist/
          repo_token: ${{ secrets.GITHUB_TOKEN }}
